.header {
  position: relative;
  background-color: #dddddd;

  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    min-height: 40rem;
    width: 100%;
    object-fit: cover;
  }
}

.split-cotainer {
  display: flex;
  padding-bottom: 10rem;
}

.split {
  flex: 0 50%;
  height: 40rem;
  font-size: 3rem;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__text-container {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  &--read-more {
    background-color: #fff;
    color: #003a78;
  }
  &--login {
    background-color: #0055ad;
    color: #fff;
  }
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0rem;
  row-gap: 5rem;
  color: #002e5e;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: 5rem;

    width: 80%;
  }

  &__button {
    font-size: 1.5rem;
  }
}

.testemonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0rem;
  row-gap: 5rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: 5rem;
  }
}

.video {
  margin: 0 auto;
  max-width: 85rem;
  padding: 10rem 0rem;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5rem;

  padding: 10rem 0rem;

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6rem;
  }
}
