@use '../abstracts/mixins' as *;

.event-card {
  align-self: flex-start;

  position: relative;
  height: 47rem;
  width: 40rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  @include shadow-3;

  &__image {
  }
  &__tag {
    position: absolute;
    top: 75%;
    left: 1rem;
    transform: translateY(-50%);

    padding: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &__text {
    padding: 3rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      display: flex;
      flex-direction: column;
    }
    &__bottom {
      display: flex;
      flex-direction: column;
    }

    &--large {
      font-size: 2rem;
      font-weight: 700;
    }
    &--small {
      font-size: 1.5rem;
    }
  }
}
