.testemonial {
  background-color: #0055ad;
  color: #fff;
  width: 46rem;
  height: 40rem;

  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &__text {
    position: relative;
    font-size: 2rem;
    font-weight: 700;

    // &::before,
    // &::after {
    //   font-size: 12rem;
    //   position: absolute;
    //   color: red;
    // }

    // &::before {
    //   content: open-quote;
    //   top: 0;
    //   left: -1rem;
    // }
    // &::after {
    //   content: close-quote;
    //   font-size: 2rem;
    //   bottom: 0;
    //   right: 2rem;
    // }
  }

  &__source {
    font-size: 1.5rem;
  }
}
